#**Importing relevant libraries**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split

In [587]:
#read the data from the csv file
Data = pd.read_csv("regressiondata.csv",delimiter=";")

In [588]:
Data.head #code to dispaly the data

<bound method NDFrame.head of       fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]>

In [589]:
Data.describe() #calculates the parameters of the data

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [590]:
feature = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide', 'density','pH','sulphates','alcohol']

In [591]:
len(Data) #gives the dimensions of the data

1599

## **UNIVARIATE REGRESSION**

In [592]:
#create an empty list to append the mean valuwes for our features 
dt = []

In [593]:
for i in range (11):
    X = Data.iloc[:,i]   #selecting one column of the feature
    y = Data['quality']   # selecting our feature
    X=X.values.reshape(-1,1) #reshape data fro 1D to 2D
    #Split the data, 80% for training and 20% for testing   
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
    model = LinearRegression()  # define our model, we want to use linear regression
    model.fit(X_train, y_train) #fit our model for training the data
    print('Coefficient:',model.coef_) #print the coeffiecient 
    print("Interecept:",model.intercept_) #print the intercept
    Y_pred = model.predict(X_test)   
    #we then calculate the mean absolut error 
    Mean_absolute=mean_absolute_error(y_test, Y_pred) 
    #Then append the mean absolute value for our features
    dt.append(Mean_absolute)
    print("Mean absolutely value:",Mean_absolute)#print the mean absolute

    #then we write the expression for our model
    print("y = ",model.intercept_," + " , model.coef_ [0] ,feature[i])
    print('                                   ')

feature[dt.index(min(dt))]

Coefficient: [0.05345634]
Interecept: 5.206678523166945
Mean absolutely value: 0.635525416061978
y =  5.206678523166945  +  0.053456335176189834 fixed acidity

Coefficient: [-1.81291601]
Interecept: 6.613713747890567
Mean absolutely value: 0.5579387177489277
y =  6.613713747890567  +  -1.8129160139684262 volatile acidity

Coefficient: [0.90679212]
Interecept: 5.4068725223162
Mean absolutely value: 0.6129263686567988
y =  5.4068725223162  +  0.906792119536668 citric acid

Coefficient: [0.00810338]
Interecept: 5.629858519682424
Mean absolutely value: 0.6479615578527623
y =  5.629858519682424  +  0.008103383700599931 residual sugar

Coefficient: [-2.25764596]
Interecept: 5.848236691133647
Mean absolutely value: 0.6387437457746189
y =  5.848236691133647  +  -2.257645964094151 chlorides

Coefficient: [-0.00329838]
Interecept: 5.702484121628147
Mean absolutely value: 0.645155624016305
y =  5.702484121628147  +  -0.003298379595742853 free sulfur dioxide

Coefficient: [-0.00462425]
Interecept: 5.862095694875327
Mean absolutely value: 0.6076390822865714
y =  5.862095694875327  +  -0.004624250602261433 total sulfur dioxide

Coefficient: [-81.46187386]
Interecept: 86.84676476958747
Mean absolutely value: 0.6289931274621866
y =  86.84676476958747  +  -81.46187385922688 density

Coefficient: [-0.28104969]
Interecept: 6.582184644552639
Mean absolutely value: 0.6446178720031421
y =  6.582184644552639  +  -0.28104969265162005 pH

Coefficient: [1.20740772]
Interecept: 4.854402654508894
Mean absolutely value: 0.6144240410502736
y =  4.854402654508894  +  1.2074077206283875 sulphates

Coefficient: [0.36345921]
Interecept: 1.8547323125322372
Mean absolutely value: 0.5360343553924538
y =  1.8547323125322372  +  0.36345921093277545 alcohol

'alcohol'

## **MULTIVARIATE REGRESSION**

In [594]:
feature_cols = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide', 'density','pH','sulphates','alcohol']
X = Data[feature_cols] # Features
y = Data.quality # Target variable

In [595]:
X #checking my features

      fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
0               7.4             0.700         0.00  ...  3.51       0.56      9.4
1               7.8             0.880         0.00  ...  3.20       0.68      9.8
2               7.8             0.760         0.04  ...  3.26       0.65      9.8
3              11.2             0.280         0.56  ...  3.16       0.58      9.8
4               7.4             0.700         0.00  ...  3.51       0.56      9.4
...             ...               ...          ...  ...   ...        ...      ...
1594            6.2             0.600         0.08  ...  3.45       0.58     10.5
1595            5.9             0.550         0.10  ...  3.52       0.76     11.2
1596            6.3             0.510         0.13  ...  3.42       0.75     11.0
1597            5.9             0.645         0.12  ...  3.57       0.71     10.2
1598            6.0             0.310         0.47  ...  3.39       0.66     11.0

[1599 rows x 11 columns]

In [596]:
y #checking my target

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [597]:
X.shape  # dimensions of my features

(1599, 11)

In [598]:
y.shape #dimensions of my target

(1599,)

In [599]:
#split my data for training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) # 80% training and 20% test

In [600]:
X_train.shape # checking training features dimensions

(1279, 11)

In [601]:
X_test.shape # checking testing features(X_test) shape

(320, 11)

In [602]:
y_test.shape #checking testing target(y_test) shape

(320,)

In [603]:
y_train.shape #checking training target(y_train) shape

(1279,)

In [604]:
model = LinearRegression() #define a linear regression model

In [605]:
model #checking if my linear regression model is there

LinearRegression()

In [606]:
model.fit(X_train, y_train) #training my model

LinearRegression()

In [607]:
model.coef_  #coefficients of my model

array([ 2.30853339e-02, -1.00130443e+00, -1.40821461e-01,  6.56431104e-03,
       -1.80650315e+00,  5.62733439e-03, -3.64444893e-03, -1.03515936e+01,
       -3.93687732e-01,  8.41171623e-01,  2.81889567e-01])

In [608]:
model.intercept_ #intercept of the model

14.355105195764825

In [609]:
Y_pred = model.predict(X_test) #Apply the model to the testing features and get the predictions

In [610]:
mean_absolute_error(y_test, Y_pred) #mean absolute error

0.5035304415524372

## **Part 3**

The mean absolute value for multivariate regression is less than the mean absolute value for univariate regression, therefore the multivariate regression perfomed the best.